.burgerMenu{
  width: 100%;
  padding: 1rem;
  #burgerButton{
    font-size: 45px;
    z-index: 999;
    position: fixed;
    color: #4a4646;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    left: 3rem;
    top: 2rem;
  }

  .burgerList{
    transition: all 0.7s ease-in;
    display: none;
    width: 100%;
    top: 0;
    position: fixed;
    background: #fff;
    box-shadow: 0px 10px 22px 6px rgba(0, 0, 0, 0.25);
    left: 0;
    height: 20%;
    z-index: 99;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #closeBurger{
      padding: 1rem;
      font-size: 30px;
    }
    ul{
      padding: 2rem ;
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      li a {
        text-decoration: none;
        color: $secondary;
        font-weight: 600;
        position: relative;
        text-transform: uppercase;
        transition: 0.4s;
        padding: 1rem;
        font-size: 15px;

        &:before {
          background: #FFFB96;
          content: "";
          inset: 0;
          position: absolute;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.2s ease-in-out;
          z-index: -1;
        }

        &:hover:before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}
