.error_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 3rem;
  gap: 6rem;
  height: 100%;
  margin-top: 5rem;
  align-items: center;
  h2{
    font-size: 60px;
  }
  img{
    width: 15%;
    animation-iteration-count: infinite;
    animation-name: error_loading;
    animation-duration: 3s;
  }
  p{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
  }
  a{
    font-weight: 400;
    font-size: 25px;
    padding: 0.4rem;
    background: #FFFB96;
    text-decoration: none;
    border-radius: 3px;
    color: black;
    transition: 0.2s;
    &:hover{
      font-size: 26px;
      background: #dad780;
    }
  }
}

@keyframes error_loading {
  0%{
    transform: rotate(1deg);
  }
  100%{
    transform: rotate(359deg);
  }
}

